@import "tailwindcss";

@theme {
  --color-brand: #534AB7;
  --color-brand-light: #EEEDFE;
  --color-brand-border: #AFA9EC;
  --color-brand-text: #3C3489;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input:focus,
  select:focus,
  button:focus-visible {
    outline: 2px solid #534AB7;
    outline-offset: 2px;
  }
}